<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/qna/qna_list.css">
    <link rel="stylesheet" href="../bootstrap-3.4.1-dist/css/bootstrap.css">
    <script src="../../static/bootstrap-3.4.1-dist/js/jquery-3.7.1.min.js"></script>
    <script src="../../static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
</head>
<body>
    
    <header>
        <div class="header_box">
            <p class="header_box_left"><img src="../image/free-icon-chat-16689507 1.png" alt="채팅이미지"></p>
            <p class="header_box_mid">무엇을 도와드릴까요?</p>
            <p class="header_box_right"><img src="../image/free-icon-consulting-services-12285773 1.png" alt="헤드셋이미지지"></p>
        </div>
    </header>
    <section>
        <div class="section_upper">
            <div class="section_upper_left">1:1 문의</div>
            <div class="section_upper_right">
                <input type="text" class="search_box" placeholder="키워드 검색" name="">
                <a href="#" class="searchBtn"><img src="../image/Search.png" alt="검색"></a>
            </div>
        </div>
        <div class="section_under">
            <!-- 질문 칸 1개당 ul 하나 -->
            <ul class="question">
                <li class="li_title">
                    <div class="question_title_box">
                        <p class="question_title">이력서 탭 이용 문의</p>
                        <p class="question_date">2025-04-12</p>
                    </div>
                    <div class="question_isanswered_date">2025-04-15</div>
                    <div class="question_isanswered" style="color: #255EEE;">답변완료</div>
                    
                </li>
                <li><div class="question_content tohide in">안녕하세요, 이력서 작성 페이지에서 뭐를 클릭하면 어쩌고.<br>확인 부탁드립니다.</div></li>
                <li>
                    <div class="question_answer_box tohide in">
                        <p class="question_answer_date">2025-04-15</p>
                        <p class="question_answer_content">안녕하세요, WORKLET입니다.<br>해당 페이지의 오류 수정 완료 되었습니다.</p>
                        
                    </div>    
                </li>
            </ul>
            <ul class="question">
                <li class="li_title">
                    <div class="question_title_box">
                        <p class="question_title">수시채용 자료는 없나요?</p>
                        <p class="question_date">2025-04-10</p>
                    </div>
                    <div class="question_isanswered_date"></div>
                    <div class="question_isanswered" style="color: #eea825;">답변대기</div>
                    
                </li>
                <li><div class="question_content tohide in">수시채용 자료도 보고싶어요</div></li>
                <li>
                    <div class="question_answer_box tohide in">
                        <!-- <p class="question_answer_date"></p>
                        <p class="question_answer_content"></p>
                         -->
                    </div>    
                </li>
            </ul>
            <ul class="question">
                <li class="li_title">
                    <div class="question_title_box">
                        <p class="question_title">문의 3</p>
                        <p class="question_date">2025-04-08</p>
                    </div>
                    <div class="question_isanswered_date">2025-04-15</div>
                    <div class="question_isanswered" style="color: #255EEE;">답변완료</div>
                    
                </li>
                <li><div class="question_content tohide in">문의3</div></li>
                <li>
                    <div class="question_answer_box tohide in">
                        <p class="question_answer_date">2025-04-15</p>
                        <p class="question_answer_content">안녕하세요, WORKLET입니다.<br>답변 드립니다.</p>
                        
                    </div>    
                </li>
            </ul>
            <ul class="question">
                <li class="li_title">
                    <div class="question_title_box">
                        <p class="question_title">문의 4</p>
                        <p class="question_date">2025-04-03</p>
                    </div>
                    <div class="question_isanswered_date">2025-04-04</div>
                    <div class="question_isanswered" style="color: #255EEE;">답변완료</div>
                    
                </li>
                <li><div class="question_content tohide in">문의 4</div></li>
                <li>
                    <div class="question_answer_box tohide in">
                        <p class="question_answer_date">2025-04-04</p>
                        <p class="question_answer_content">안녕하세요, WORKLET입니다.<br>답변 드립니다.</p>
                        
                    </div>    
                </li>
            </ul>
            <ul class="question">
                <li class="li_title">
                    <div class="question_title_box">
                        <p class="question_title">문의 5</p>
                        <p class="question_date">2025-04-01</p>
                    </div>
                    <div class="question_isanswered_date">2025-04-01</div>
                    <div class="question_isanswered" style="color: #255EEE;">답변완료</div>
                    
                </li>
                <li><div class="question_content tohide in">문의 5</div></li>
                <li>
                    <div class="question_answer_box tohide in">
                        <p class="question_answer_date">2025-04-01</p>
                        <p class="question_answer_content">안녕하세요, WORKLET입니다.<br>답변 드립니다.</p>
                        
                    </div>    
                </li>
            </ul>


            <!-- 문의하기 버튼 -->
             <input type="button" value="문의하기" class="questionBtn">

            <div class="question_pagenation">
                <p><i class="bi bi-chevron-left pg"></i></p>
                <p><a href="#">  1  </a></p>
                <p><a href="#">  2  </a></p>
                <p><a href="#">  3  </a></p>
                <p><i class="bi bi-chevron-right pg"></i></p>
            </div>


        </div>
    </section>

    <script>
        var ul_question = document.querySelectorAll(".question");
        ul_question.forEach(function(questionEl) {

            questionEl.addEventListener("click", function(event) {
                var parent = event.target.closest(".question");
                parent.firstElementChild.firstElementChild.nextElementSibling.classList.toggle("in");
                parent.firstElementChild.firstElementChild.nextElementSibling.nextElementSibling.classList.toggle("in");
                
                parent.firstElementChild.nextElementSibling.firstElementChild.classList.toggle("in");
                parent.firstElementChild.nextElementSibling.nextElementSibling.firstElementChild.classList.toggle("in");
            })
        })

    </script>

</body>
</html>