<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/mypage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <div class="wrap">
        <header class="flex">
            <h1><a href="#"><img src="./image/WORKLET_logo.png" alt="logo"></a></h1>
            <ul class="flex menu">
                <li><a href="#">기업소개</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">채용공고</a></li>
                <li><a href="#">이력서 가이드</a></li>
                <li><a href="#">문의사항</a></li>
            </ul>
            <ul class="flex logout">
                <li><a href="#" style="color: var(--main-color1); font-weight: bold;">마이페이지</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
            <ul class="flex login">
                <li><a href="#" style="color: var(--main-color1);
            font-weight: bold;">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="ham-menu">
                <ul class="menu-list">
                    <li><a href="#">기업소개</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">채용공고</a></li>
                    <li><a href="#">이력서 가이드</a></li>
                    <li><a href="#">문의사항</a></li>
                </ul>
                <ul class="ham-logout">
                    <li><a href="#" style="color: var(--main-color1); font-weight: bold;">마이페이지</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
                <ul class="ham-login">
                    <li><a href="#" style="color: var(--main-color1);
                font-weight: bold;">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </header>

        <section class="sec01 flex">
            <div class="left">
                <div class="gotoresume">
                    <h3>이력서를 작성하고<br>
                        <span style="color: var(--main-color1);">추천공고</span>를 살펴보세요
                    </h3>
                    <button type="button">
                        <p>이력서 쓰러가기</p>
                        <figure>
                            <img src="./image/Arrow-white.png" alt="">
                        </figure>
                    </button>
                </div>
                <div class="profile">
                    <h3 class="name">
                        김나연 님
                    </h3>
                    <ul class="email">
                        <li>efoj@naver.com</li>
                        <li>010-1234-1234</li>
                    </ul>
                    <div class="HopefulEmployment">
                        <p>희망고용형태</p>
                        <ul class="flex">
                            <li>정규직</li>
                            <li>계약직</li>
                        </ul>
                    </div>
                    <div class="my-inquiry">
                        <ul class="flex">
                            <li>
                                <span>찜</span>
                                <b>2</b>
                            </li>
                            <li>
                                <span>내 문의</span>
                                <b>2</b>
                            </li>
                        </ul>
                    </div>

                    <button type="button">
                        <p>내 프로필 수정</p>
                        <figure>
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </div>
            </div>
            <div class="right">
                <div class="calender">

                </div>
            </div>
        </section>

        <section class="sec02">
            <h3>스크랩 공고</h3>
            <div class="sec02-slide">
                <div class="sec02_pc_slide">
                    <div class="swiper-wrapper-mask">
                        <div class="swiper mySwiper5">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="sec02_mobile_slide">
                    <div class="swiper-wrapper-mask">
                        <div class="swiper mySwiper6">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex">
                                        <p>구글</p>
                                        <h3>시설관리(기계, 전기), 시공관리(전기),제목 어쩌고</h3>
                                        <span>~05/23</span>
                                    </div>
                                    <figure class="slide_logo">
                                        <img src="./image/slideLogo.png" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>

        <section class="sec03">
            <div class="sec03-title flex">
                <p>ㅇㅇㅇ 님의 이력서</p>
                <div class="plus flex">
                    <img src="./image/plus.png" alt="">
                    추가
                </div>
            </div>
            <div class="resume">
                <ul>
                    <li>
                        <div class="content">
                            <h4>성실하고 성실한 신입 ㅇㅇㅇ입니다.성실하고 성실한 신입 ㅇㅇㅇ입니다.</h4>
                            <span>2025.04.10 15.50 수정</span>
                        </div>
                        <div class="edit">
                            <button type="button">수정하기</button>
                            <button type="button">삭제하기</button>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h4>성실하고 성실한 신입 ㅇㅇㅇ입니다</h4>
                            <span>2025.04.10 15.50 수정</span>
                        </div>
                        <div class="edit">
                            <button type="button">수정하기</button>
                            <button type="button">삭제하기</button>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h4>성실하고 성실한 신입 ㅇㅇㅇ입니다</h4>
                            <span>2025.04.10 15.50 수정</span>
                        </div>
                        <div class="edit">
                            <button type="button">수정하기</button>
                            <button type="button">삭제하기</button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="sec04">
            <h3>나만의 추천 공고</h3>
            <p>희망직종을 선택하여서 ai가 추천해주는 공고를 찾아보세요! </p>
            <ul class="flex">
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>

                    </button>
                </li>
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </li>
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </li>
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </li>
            </ul>
            <button type="button">
                <figure>
                    <img src="./image/plus.png" alt="">
                </figure>
                <p>희망직종 추가, 수정</p>
            </button>
        </section>

        <section class="sec05">
            <h3>내 나이대 직업 살펴보기</h3>
            <p>내 나이대 사람들은 무슨 일을 하고 있을까? worklet에서 살펴보세요!</p>
            <ul class="flex">
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>

                    </button>
                </li>
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </li>
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </li>
                <li>
                    <div class="sec04_img">
                        <img src="./image/slideLogo.png" alt="">
                    </div>
                    <p class="title">2025년 상반기 동원그룹 신입사원 모집</p>
                    <p class="name">동원산업(주)</p>
                    <p class="date">~05/30 (수)</p>
                    <button type="button">
                        <p>보러가기</p>
                        <figure> 
                            <img src="./image/Arrow-blue.png" alt="">
                        </figure>
                    </button>
                </li>
            </ul>
        </section>

        
        <footer class="flex">
            <div class="footer-content">
                <p>고객센터 0000-0000 (평일 09:00 ~ 19:00 토요일 09:00 ~ 15:00)  FAX 02-000-0000  Email oooo@gmail.com</p>
                <p>대표 : 문경민</p>
                <p>주소 : 서울시 강남구 테헤란로 7길 7</p>
                <p>WORKLET All rights reserved.</p>
            </div>
            <div class="footer-logo">
                <img src="./image/foote_logo.png" alt="">
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/mypage.js"></script>
</body>

</html>